#churrascometro{
    width: 400px;
    background-color: beige;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    text-align: center;
}

#crianças, #duração{
    margin-top: 10px;
}

button{
    margin-top: 15px;
    margin-bottom: 15px;
}

input{
    width: 200px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    border: solid black 0.01px;
}

#resultado{
    width: 300px;
    text-align: center;
    margin-bottom: 15px;
    margin: auto;
}